body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top:0;
    z-index: 2;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

.job-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 1em;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.job-card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
}

.job-details {
    padding: 1em;
}

h2 {
    margin-bottom: 0.5em;
    color: #333;
}

.apply-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    
    width: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.apply-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
